:root {
  --background: #CBF3F0;
  --wrapper-background: #FFFFFF;
  --titleAndBorder: #2EC4B6;
  --tileBackground: #FFBF69;
  --tileBorder: #FF9F1C;
  --error: #e63946;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 95vh;
  min-width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
